body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem;
  background: #f7f7f7;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0rem;
  font-weight: bold;
}
h1{
  font-size: 2rem;
}
h2{
  line-height: 1.2;
}
p{
  margin: 0rem;
  font-size: 1.25rem;
  line-height: 1.3;
}
header img{
  margin: 0 auto 5rem auto;
}
.menu {
  margin: 1.5rem 0rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.menu a {
  background: #ffffff;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  color: #000000;
  text-transform: uppercase;
  border: 0.13rem solid #fff;
}
.menu a:hover{
  border-color: #e21;
}
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62rem;
}
.introducao {
  background: #fff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
}
.introducao::before{
  content: "";
  position: absolute;
  width: 3.75rem;
  height: 0.25rem;
  background: #e21; 
  top: 1.87rem;
  right: -1.87rem;
}
.introducao-cover img{
  object-fit: cover;
  height: 100%;
}
.botao {
  background: #e21;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}
.botao:hover{
  background: #900;
}
.subtitulo {
  font-size:  4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: url("https://adriwco.github.io/exercicio-posicionamento/img/onda.svg");
  /*word-break: break-all;*/
}

.vantagens {
  background: #fff;
  padding: 2.5rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  position: relative;
  border-left: 0.25rem solid transparent;
}
.vantagens-item:nth-child(odd){
  background: #f7f7f7;
}
.vantagens-item p {
  grid-column: 2;
}
.vantagens-item:hover{
  border-color: #e21;
}
.rodape {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}
@media (max-width: 1000px){
  body {
    margin-top: 2rem;
  }
  header img{
    margin: 0 auto 3rem auto;
  }
  .conteudo {
    grid-template-columns:1fr;
  }
  .menu {
    margin: 0rem;
  }
  .menu a {
    padding: 1rem 1rem;
    display: flex;
  }
  .introducao {
    text-align: left;
    justify-items: start;
  }
  .introducao::before{
    top: 1.60rem;
    right: 42%;
  }
  .subtitulo{
    text-align: center;
    padding: 2.5rem 0rem;
    font-size: 3rem;
  }
}
@media (max-width: 501px){
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .menu a {
    display: grid;
    place-items: center;
  }
}
