.experiencia{
  max-width: 1199.9px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.experiencia .subtitulo{
  color: #e0e0e0;
}
.experiencia-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 60px;
  color: #525252;
}
.experiencia-texto strong{
  color: #141414;
}
.empresa{
  display: grid;
  gap: 10px 20px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  position: relative;
  transition: 1s;
}
.empresa::before{
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829,#67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}
.empresa:hover::before{
  background: linear-gradient(#aa98a8,#980bb4);
}
.empresa-ano{
  position: absolute;
  top: 22px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
  width: 80px;
  text-align: right;
}
.empresa-titulo{
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa-texto{
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa-habilidades{
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
  align-content: start;
}
.empresa-habilidades li{
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #fff;
  padding: 5px 10px;
}
.scroll-projetos{
  height: 500px;
  overflow-y: scroll;
  padding-left: 50px;
}
.scroll-projetos::-webkit-scrollbar{
  width: 15px;
}
.scroll-projetos::-webkit-scrollbar-thumb{
  background-color: #67dd0a;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}
.scroll-projetos::-webkit-scrollbar-track{
  background-color: #faf6ed;
}
@media (max-width: 800px){
  .experiencia{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo{
    color: #141414;
  }
  .experiencia-texto{
    font-size: 1.25rem;
  }
  .empresa-ano{
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
  .empresa-ano::before{
    content: "Ano: ";
  }
  .scroll-projetos{
    padding-left: 0px;
  }
}
@media (max-width: 400px){
  .empresa{
    grid-template-columns: 1fr;
  }
}