.footer{
  background-color: #000;
}
.footer-container{
  display: grid;
  grid-template-columns:  3fr 5fr 4fr; /*1fr 3fr 2fr*/
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 45px;
  justify-items: center;
}
.footer h3{
  color:#fff;
  margin-bottom: 32px;
}
.footer-contato ul{
  margin-bottom: 32px;
  color: #b2b2b2;
}

.footer-contato :is(a[href^="tel"], a[href^="mailto"], li[class^="ender"], a[href^="https://www.google.com/maps/"]){
  position: relative;
  margin-left: 24px;
}
.footer-contato :is(a, li)::before{
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: -32px;
  top: -4px;
}
.footer-contato a[href^="tel"]::before{
  background: url('../img/icones/telefone.svg') no-repeat center center;
}
.footer-contato a[href^="mailto"]::before{
  background: url('../img/icones/email.svg') no-repeat center center;
}
.footer-contato li[class^="ender"]::before{
  background: url('../img/icones/local.svg') no-repeat center center;
}
.footer-contato a[href^="https://www.google.com/maps/"]::before{
  background: url('../img/icones/planeta-terra.svg') no-repeat center center;
}

.footer-contato li:nth-child(3):after,.footer-contato li:nth-child(5):after{
  content: '';
  display: block;
  max-width: 360px;
  height: 2px;
  background: #9c9c9c;
  margin-top: 16px;
}
.footer-informacoes a{
  text-decoration: underline;
}
.footer li{
  margin-bottom: 16px;
}
.footer-redes{
  display: flex;
  gap: 15px;
}
.footer a{
  color: #b2b2b2;
}
.footer a:hover{
  color: #67dd0a;
}
.footer-copy{
  color: #9c9c9c;
  grid-column: 1/-1;
  margin-top: 60px;
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}
.footer-copy::before{
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  left: 5%;
  right: 5%;
  background: #9c9c9c;
  position: absolute;
  top: -45px;
}