*{
  margin: 0px;
  padding: 0px;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  font-family: "Fira Sans", Arial, sans-serif;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
.subtitulo{
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px){
  .subtitulo{
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }

}