.header{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.header-menu a{
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  color: #141414;
  display: block;
  background: #f5f5f5;
  border-radius: .3rem;
}
@media (max-width: 800px) {
  .header{
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
}